@import "./reset.css";
@import "./fonts.css";

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap'); */
/* font-family: 'Roboto', sans-serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */
/* font-family: 'Roboto Condensed', sans-serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap'); */
/* font-family: 'Nunito', sans-serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */
/* font-family: 'Montserrat', sans-serif; */


:root{
    --red: #E63535;
    --yellow: #FFD122;
    --blue:#4886FF;
    --text-black: #000000;
    --text-white: #FFFFFF;
    --text-with-opacity: #0000007c;
    --container-width: 1130px;
    --container-padding: 15px;
}


body{
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-black);
    letter-spacing: 0.1px;
}

.container{
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.container-map {
    max-width: 1025px;
    padding: 0 65px;
}

.none{
    display: none !important;
}

.header{
    position: relative;
    min-height: 561px;
    padding: 28px 0;
    background-image: linear-gradient(90.65deg, #FFD122 41.9%, rgba(196, 196, 196, 0) 69.12%),
    url("../images/header/bcg.jpg");
    background-repeat: no-repeat;
    background-position: right top;

    font-family: 'Nunito', sans-serif;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.nav__content{
    display: flex;
    column-gap: 65px;
    justify-content: space-between;
    align-items: center;
}
.nav__lng{
    position: relative;
}
.nav__lng a{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: var(--text-black);
}


.lng{}

#nav__ru{
    color: #E53535;
    position: relative;
}

.nav__list{
    display: flex;
    column-gap: 25px;
    justify-content: space-between;
    align-items: center;

}

.nav__list li a{
    font-weight: 400;
    color: var(--text-with-opacity);
}

.nav__btn{
    font-weight: 600;

    padding: 10px 7px;
    background-color: var(--yellow);
    color: var(--text-black);
    border-radius: 10px;
}

.header__content{
    width: 50%;

    display: flex;
    flex-direction: column;
    row-gap: 37px;
}

.logo img{
    max-width: 100%;
    width: auto;
    height: auto;
}

.header__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
}

.header__subtitle{
    font-size: 22px;
    line-height: 28px;
}

.header__btn{
    background: linear-gradient(90.29deg, rgba(0, 60, 177, 0.4) -1.87%, rgba(86, 144, 255, 0.4) 68.44%), #4886FF;
    box-shadow: 0px 4px 28px #AC8000;
    border-radius: 40px;

    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--text-white);

    padding: 12px 32px;
    margin: 0 auto;
    margin-left: 0;
}

/*Cards Style*/

.cards{
    padding: 58px 0 68px;
}

.cards__list{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

}
.card{
    position: relative;
    flex-grow: 1;
    flex-basis: 0;

    border: 2px solid;
    border-radius: 18px;
}

.card-blue{
    border-color: var(--blue);
}
.card-yellow{
    border-color: var(--yellow);
}
.card-red{
    border-color: var(--red);
}



.card__top{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.yellow-top{
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.blue-top{
    background-color: var(--blue);
    border-color: var(--blue);
}

.red-top{
    background-color: var(--red);
    border-color: var(--red);
}

.card__img{
    
}

.card__img img{
    max-width: 100%;
    width: auto;
    height: auto;
    margin-top: -65px;
}

.card__title{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    letter-spacing: -1px;
}

.title-white{
    color: var(--text-white);
}

.card__bottom{
    padding: 50px 0 75px 0;
    padding-left: 32px;
    padding-right: 32px;
}

.card__text{
    font-family: 'Nunito',  sans-serif;
}

/*Life Styles*/

.life{
    background-color: var(--blue);
}

.life__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}

.life__content{
    max-width: 460px;

    color: var(--text-white);
}

.life__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: -1px;
    margin-bottom: 37px;
}

.life__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.life__img{
    max-width: 100%;
    width: auto;
    height: auto;
}



/*Card2 Styles*/
.card2{
    border-radius: 26px;
}

.card__top2{
    padding-top: 54px;
    padding-bottom: 30px;

    border-top-right-radius: 26px;
    border-top-left-radius: 26px;
}


/*Emotions Styles*/
.emotions{
    padding: 100px 0;
}
.container-big{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.emotions__gallery img{
    max-width: 100%;
    width: auto;
    height: auto;
    border-radius: 22px;
}


.mySwiper{
    position: relative;
}

.emotions__title{
    position: absolute;

    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    color: var(--text-white);

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 85%;

    z-index: 1;
}

.btn-next,
.btn-prev{
    position: absolute;
    z-index: 1;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 59px;
    height: 59px;

    border-radius: 50%;
    background-color: var(--text-white);
}

.btn-prev{
    left: 44.5%;
}

.btn-next{
    right: 44.5%;
}

.swiper-pagination-bullet{
    width: 20px !important;
    height: 20px !important;
    background: white !important;
    opacity: 100% !important;
}
.swiper-pagination-bullet-active{
    background: var(--yellow) !important;
}

/*Best Styles*/

.best{
    padding: 20px 0 200px 0;
}
.slider, .swiper-best{
    position: relative;
}
.slider-wrapper{

}
.slider-slide{
    /* max-width: 734px;*/
    /* min-height: 815px; */

    display: flex;
    flex-direction: column;
    row-gap: 17px;

    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.article{
    padding: 40px;
}

.article__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;

    margin-bottom: 40px;
}

.article__text{
    font-size: 18px;
    opacity: 0.5;

    flex: 1 0 auto;
}

.best .swiper-slide{
    opacity: 20%;
}

.best .swiper-slide-active{
    transition-property: transform, opacity;
    transition-duration: 0.7s, 0.7s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    will-change: transform;
    opacity: 100%;
}


.best-btn-next,
.best-btn-prev{
    position: absolute;
    z-index: 1;
    top: 4%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 59px;
    height: 59px;

    border-radius: 50%;
    background-color: var(--yellow);
}

.best-btn-prev{
    left: 32%;
}

.best-btn-next{
    left: 36%;
}


/*Qids Styles*/

.qids{
    padding: 20px 0;
}

.qids__row{
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
}

.qids__img{}
.qids__img img{
    max-width: 100%;
    width: auto;
    height: auto;
}

.qids__content{
    max-width: 700px;
    margin-top: -50px;
}

.qids__title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 154px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--yellow);
}
.qids__text{
    font-size: 20px;
    line-height: 130%;
    color: var(--text-black);
    opacity: 0.5;
}

/*About Styles*/
.about{
    padding: 45px 0;
}

.about__list{
    position: relative;
}
.about__item{
    display: flex;
    column-gap: 123px;
    align-items: center;
}

.about__img img{
    border-radius: 25px;
    max-width: 100%;
    width: auto;
    height: auto;
}

.about__content{
    max-width: 460px;
}

.about__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    color: var(--text-black);
}



.about-btn-next,
.about-btn-prev{
    position: absolute;
    z-index: 1;
    top: 1%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 59px;
    height: 59px;

    border-radius: 50%;
    background-color: var(--yellow);
}

.about-btn-prev{
    left:50%;
}

.about-btn-next{
    left: 80%;
}

.celebrity{}

.celebrity__name{
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 9px;
}

.celebrity__occupation{
    line-height: 130%;
    margin-bottom: 53px;
}

.celebrity__opinion{
    font-size: 18px;
}

/*YouTube Styles*/

.youtube{
    padding: 40px 0;
}

.youtube__row{
    display: flex;
    column-gap: 70px;
    align-items: center;
}

.youtube__content{}
.youtube__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;

    margin-bottom: 46px;
}
.youtube__text{
    font-weight: 400;
    font-size: 18px;
}

/*Map Styles*/
.map{
    padding: 40px 0;
}

.map__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    text-align: center;

    margin-bottom: 40px;
}

.map__row{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

.map__img img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.map__content{
    padding: 25px 80px;
    max-width: 816px;
    border: 3px solid var(--yellow);
    border-radius: 14px;
}

.map-content__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 18px;
}

.map__list{
    display: flex;
    justify-content: space-between;
    column-gap: 96px;
}

.map-list__item{
}

.left{
    width: 58%;
}
.right{
    width: 42%;
}

/*Conatcts Styles*/

.contacts{
    padding: 0 0 50px 0;
}

.contacts__container{
    max-width: 493px;
    margin: 0 auto;
    text-align: center;
}

.contacts__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;

    margin-bottom: 45px;
}

.contacts__socials{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.contacts__phone{
    padding: 3px 45px;
    font-weight: 500;
    color: var(--text-black);

    border: 1px solid var(--text-black);
    border-radius: 13px;

    margin-bottom: 17px;
    display: inline-block;
}

.contacts__address{
    font-weight: 500;
    margin-bottom: 19px;
}

.contacts__continue{
    padding: 18px 37px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-black);

    background: var(--yellow);
    border-radius: 44px;
    display: inline-block;
}

.footer{
    background-color: var(--yellow);
    padding: 30px 0;
}

.footer-container{
    padding: 0 123px 0 186px;
}
.footer__body{
    margin-bottom: 45px;
}
.footer__row{
    display: flex;
    justify-content: space-between;
    column-gap: 186px;
    align-items: center;
}
.footer__logo img{
    margin-bottom: 16px;
}
.footer__logo p{
    text-align: center;
    opacity: 0.5;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    column-gap: 81px;
    align-items: center;
}

.footer__list{
    display: flex;
    justify-content: space-between;
    column-gap: 31px;
    align-items: center;
}

.footer__list a{
    color: var(--text-black);
}

.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    line-height: 20px;
    color: var(--text-black);
    opacity: 0.5;
}

.nav__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}
@media(max-width: 1500px) {
    .best-btn-next {
        left: 40%;
    }
    .best-btn-prev {
        left: 33%;
    }
}

@media(max-width: 1115px){
    .footer__row{
        column-gap: 50px;
    }
    .footer__content{
        column-gap: 140px;
    }
}
@media(max-width: 1110px){
    .card__title{
        font-size: 20px;
        line-height: 30px;
    }
    
    .btn-prev{
        left: 43.5%
    }
    .btn-next{
        right: 43.5%
    }
    .footer__body {
        margin-bottom: 25px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 1025px;
        padding: 0 65px;
    }

    .header{ 
        background:linear-gradient(90.65deg, #FFD122 41.9%, rgba(196, 196, 196, 0) 69.12%), 
        url("../images/header/bcg.jpg") no-repeat;
    }

    .header__content {
        row-gap: 15px;
    }

    .nav__lng{
        display: none;
    }
    .life{
        padding: 47px 0;
    }

    .life__body{
        padding: 0;
        column-gap: 64px;
    }
    .emotions__title{
        top: 75%;
    }
    .best-btn-prev {
        left: 25%;
    }
    .best-btn-next {
        left: 34%;
    }

    .youtube__row {
        flex-direction: column;
        row-gap: 70px;
    }

    .youtube__content{
        max-width: 430px;
    }

    .youtube__title{
        margin-bottom: 27px;
    }
    .container-map {
        padding: 0;
    }

    .map__content{
        display: none;
    }
    .map__title{
        margin-bottom: 20px;
    }
    .footer__row{
        flex-direction: column;
    }
    .footer__content{
        flex-direction: column;
    }

    .footer__socials{
        display:flex;
        flex-direction: column;
    }

    .footer__list{
        max-width: 310px;
    }

    .footer-container{
        padding: 0;
    }
}
@media(max-width: 970px){
    .btn-prev{
        left: 40.5%
    }
    .btn-next{
        right: 40.5%
    }

    .about__item {
        column-gap: 70px;
    }
}

@media(max-width: 880px){
    .life__body{
        flex-direction: column-reverse;
        row-gap: 10px;
    }
    .about__item {
        column-gap: 50px;
    }

    .nav__row{
        flex-direction: column;
    }
    .nav__item{
        flex-direction: column;
    }
}

@media(max-width: 771px){
    .cards__list {
        flex-direction: column;
        row-gap: 50px;
        text-align: center;
    }
    .card__title{
        text-align: start;
        font-size: 28px;
        line-height: 41px;
    }
    .card__text{
        text-align: start;
    }

    .about__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
    }
    .celebrity__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
    }
    .celebrity__occupation {
        line-height: 100%;
        margin-bottom: 11px;
    }
    .celebrity__opinion {
        font-size: 12px;
        line-height: 110%;
    }
}

@media(max-width: 719px){
    .best-btn-prev{
        left: 5%
    }
    .best-btn-next{
        left: 15%
    }
}


@media(max-width: 680px){
    .btn-prev{
        left: 35.5%
    }
    .btn-next{
        right: 35.5%
    }
    .emotions__title{
        top: 65%;
        font-size: 28px;
    }

    .about__item {
        flex-direction: column;
        row-gap: 20px;
    }
    /* .about__content{
        max-width: 460px;
    }
     */
    .about__title{
        font-weight: 700;
        font-size: 36px;
        line-height: 130%;
    }
    .celebrity__name{
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 9px;
    }
    
    .celebrity__occupation{
        line-height: 130%;
        margin-bottom: 33px;
    }
    
    .celebrity__opinion{
        font-size: 18px;
    }
    
}

@media(max-width: 596px){
    .best-btn-prev{
        left: 3%
    }
    .best-btn-next{
        left: 18%
    }
}

@media(max-width: 551px) {

    .youtube__iframe iframe{
        width: auto;
        height: auto;
    }

    .youtube__row {
        row-gap: 30px;
    }

    .youtube__title {
        font-size: 20px;
        font-weight: 600;
    }

    .youtube__title {
        margin-bottom: 15px;
    }
    .youtube__text {
        font-size: 14px;
        line-height: 18px;
    }

    .contacts__row{
        display: flex;
        justify-content: center;
    }

    .contacts__socials {
        flex-direction: column;
        row-gap: 10px;
        align-items: flex-start;
        margin-bottom: 36px;
    }
}

@media(max-width: 480px){
    .emotions__title{
        display: none;
    }
}

@media(max-width: 450px){
    .btn-prev{
        left: 30%
    }
    .btn-next{
        right: 30%
    }

    .qids__title{
        font-size: 88px;
        line-height: 115px;
    }
    .qids__text{
        font-size: 16px;
        line-height: 20px;
    }
}
@media(max-width: 415px){
    .container{
        padding: 0 32px;
    }
    .header{
        background: linear-gradient(0deg, #FFD122 41.9%, rgba(196, 196, 196, 0) 69.12%), 
        url(../images/header/bcg-mobile.jpg) no-repeat;
    }

    .nav{
        justify-content: center;
        margin-bottom: 340px;
    }
    .nav__content{
        display: none;
    }
    .nav__btn {
        font-weight: 500;
        padding: 10px 23px;
    }
    .header__content{
        width: 100%;
    }

    .header__title {
        font-size: 32px;
        line-height: 48px;
    }

    .header__btn {
        background: var(--blue);
        box-shadow: none;
        border-radius: 5px;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--text-white);

        padding: 12px 44px;
        margin: 0 auto;
        margin-left: 0;
    }

    .best-btn-next{
        left: 25%;
    }

    .map{
        display: none;
    }
}

@media(max-width: 330px){
    .btn-prev{
        left: 25%
    }
    .btn-next{
        right: 25%
    }
}